@model FacebookClone.Models.ProfileViewModel
@{
    ViewBag.Title = "Profile";
}
    <div style="width:100%;">
    @using (Html.BeginForm("AddNewProfilePicture", "Profile", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div id="divProfilePicture" style="float:left; width:45%;">
            <img src=@Url.Content(Model.profilePictureRelativePath) style="width:100%;" />
            <br /><br />
            <label for="file">Upload profile picture:</label>
            <br />
            <input type="file" name="picture" id="file" /><br><br>
            <div id="divButtons" style="clear:both;">
                <button type="submit">Save Profile</button>
            </div>
        </div>
    }
    <div id="divProfileInfo" style="float:right; width:45%;">
        <h3>@Model.firstname @Model.lastname</h3>
        <br /><br />
        <label>Age</label>
        <br />
        <input type="text" name="age" value="@Model.age" readonly />
        <br /> <br />
        <label>Gender</label>
        <br />
        <input type="text" name="gender" value="@Model.gender.ToString()" readonly />
    </div>


    }
    <br /><br />
    <hr />
    <div style="clear:both;">
        <div id="divGallery" style="float:left; width:45%;">
            <-- TODO !--></-->
        </div>
        <div id="divPosts" style="float:right; width:45%;">
            @foreach (var post in @Model.Posts)
            {
                @Html.Partial("PostPartialView", post)
            }
        </div>
    </div>
</div>

